
.work {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  gap:20px;
  border-radius: 15px;
}

.scene {
  width: 1000px;
  display: flex;
//  gap: 100px;
  justify-content: space-between;
  perspective: 800px;
  

  .card {
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    transition: 1.2s;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(0.5turn);
    }

    .card__face {
      
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      backface-visibility: hidden;
      transition: all 0.5s ease;
    
      -webkit-box-reflect: below 0
        linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));

      img {
        width: 300px;
        height: 350px;
        object-fit: cover;
        border-radius: 15px;
      }

      &--back {
        transform: rotateY(0.5turn);
      }
    }
  }
}

.testimonial-body {
  width: 1200px;
  margin: auto;
}
.container_team {
  width: 1200px;
  margin: auto;
}
.card-image-team1 {
  width: 100% !important;
  height: 100%!important;
}
.team-section {
  display: grid;
  grid-template-columns: repeat(3, 400px);

}

.team-title {
  margin: 5rem 0 14rem 0 !important;
}