.headers {
 background-color: #262626;
 padding: 0 1rem;
}


.head-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    display: flex;
   gap: 10rem;
    align-items: center;

}
.logo {
    color:var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

}
nav ul{
    display: flex;
    gap: 5rem;
    padding: 1.5rem 0;
    color: aliceblue;
    list-style: none;
}
nav ul li {
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
}
nav ul li:hover {
    color:var(--primary-color);
}

