/* .shadow {
    background-color: #262626;
    color: aliceblue;
} */

h6 {
    color: #262626; 
    font-size: 20px;
    
}
.icon {
    color: #262626;  
    font-size: 15px;
}
/* footer {
    position: fixed-bottom;
    bottom: 0;
    width: 100%;
} */
