/* .shadow {
    background-color: #262626;
    color: aliceblue;
} */

h6 {
    color: #262626; 
    font-size: 20px;
    
}
.icon {
    color: #262626;  
    font-size: 15px;
}

footer {
    position:sticky;
    /* bottom: 0;
    height:5px;
    width: 100%; */
  top: 100%;
}
