.container-com {
    max-width: 120rem;
    margin: auto;
    padding:7rem 5rem
}
:root {
    --primary-color:#fecd1c;
    --seconde-color:#023047
  }

  .Link {
    text-decoration: none;
    color: inherit;
}