.container-com {
    max-width: 120rem;
    margin: auto;
    padding:7rem 5rem
}
:root {
    --primary-color:#fecd1c;
    --seconde-color:#023047;
  }

  .Link {
    text-decoration: none ;
    color: inherit;
}
.add-btn {
  background-color: var(--primary-color) !important;
  border: 0 !important;
  color: black !important;
  padding: 1rem !important;
  font-weight: 600 !important;
}