.container-search{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding-top: 5px;
}
.container-search button{
    height: 50px;
    width: 100px;
    background: #9695d7;
    border-radius: 25px;
 }
.search-field1{
    height: 42px;
    /* border: solid black 1px; */
    border-radius: 0.5rem 0 0 0.5rem;
    outline: 0;
}
.form1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

.form2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}
.new {
    padding-left: 40px;
   
}
.most{
    padding-left: 40px;
}